
{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}

<h2>Add Student</h2>

<form method="POST">

    <input type="number" name="Rollno" placeholder="Enter Roll Number" required><br><br>

    <input type="text" name="Name" placeholder="Enter Student Name" required><br><br>

    <input type="text" name="Subject" placeholder="Enter Subject" required><br><br>

    <input type="number" name="Marks" placeholder="Enter Marks" required><br><br>

    <input type="text" name="Grade" placeholder="Enter Grade" required><br><br>

    <button type="submit">Add Student</button>

</form>

{% endblock %}