
{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

<style>
.welcome-box{
    text-align:center;
    padding:50px;
    background:linear-gradient(to right,#4facfe,#00f2fe);
    border-radius:15px;
    color:white;
    margin:30px auto;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    margin:10px;
    text-decoration:none;
    color:white;
    font-size:18px;
    border-radius:8px;
    font-weight:bold;
}

.students-btn{
    background:#28a745;
}

.about-btn{
    background:#ff9800;
}

.btn:hover{
    opacity:0.8;
}
</style>

<div class="welcome-box">
    <h1>🎓 Welcome to Coaching Class Management System</h1>

    <p>
        Manage student records, attendance, fees and performance
        efficiently using this system.
    </p>

    <br>

    <a href="{{ url_for('stud') }}" class="btn add_student-btn">
        Students
    </a>

    <a href="{{ url_for('home') }}" class="btn home-btn">
        About
    </a>

</div>

{% endblock %}